.container button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 50px;
    border-radius: 50%;
    padding: 50px;
}

.container button:after{
    content: attr(data-content);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    font-size: 25px;
}

.dodge{
    right: 0;
}

.hit{
    background-color: rgb(50,190,0);
}

.dodge{
    background-color: rgb(240,200,0);
}

