<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hexagon</title>

    <link rel="shortcut icon" href="#"/>

    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<canvas onmousedown="cvsMouseDown(event)" onmousemove="cvsMouseMove(event)" onmouseup="cvsMouseUp(event)"></canvas>

<script src="js/external/socket.io.js"></script>

<script src="js/socket.js"></script>
<script src="js/main.js"></script>
<script src="js/helper.js"></script>
<script src="js/generate.js"></script>
<script src="js/hexagon.js"></script>
<script src="js/socket.js"></script>
<script src="js/update.js"></script>
<script src="js/window.js"></script>
<script src="js/event.js"></script>
<script src="js/player.js"></script>
<script src="js/check.js"></script>
</body>
</html>
